<!DOCTYPE html>
<html>

<head>
	<title>Album</title>
</head>

<body>
	<h1 th:text="${album.nome}">Stan</h1>
	<div>
		ANNO: <span th:text="${album.anno}">2018</span>
		<br>
		<img th:src="${album.imgUrl}" width="200">
	</div>
	<div>
		AUTORE: <a th:href="@{'/artisti/'+ ${album.autore.id}}" th:text="${album.autore.nome}">Lele</a>
	</div>
	<div>
		BRANI:
		<div th:if="${album.brani != null and !#lists.isEmpty(album.brani)}">
			<ul>
				<li th:each="brano: ${album.brani}" th:if="${brano}">
					<a th:href="@{'/brani/' + ${brano.id}}" th:text="${brano.nome}">Stan</a>
				</li>
			</ul>
		</div>

		<span th:if="${album.brani == null or #lists.isEmpty(album.brani)}">NON CI SONO BRANI NELL'ALBUM</span>
	</div>
</body>

</html>