<!DOCTYPE html>
<html>

<head>
	<title>ARTISTI</title>
</head>

<body>
	<div>
		<h1><a href="/artisti">LISTA ARTISTI</a> </h1>
	</div>
	<div>
		<h1><a href="/artisti/new">INSERISCI ARTISTA</a></h1>
	</div>
	<div>
		<h1><a href="/brani">LISTA BRANI</a></h1>
	</div>
	<div>
		<h1><a href="/brani/new">INSERISCI BRANO</a></h1>
	</div>
	<div>
		<h1><a href="/albums">LISTA ALBUM</a></h1>
	</div>
	<div>
		<h1><a href="/albums/new">INSERISCI ALBUM</a></h1>
	</div>
	<div>
		<h1><a href="/playlists/new">INSERISCI PLAYLIST</a></h1>
	</div>
	<div>
		<h1><a href="/profile">PAGINA UTENTE</a></h1>
	</div>


</body>

</html>